@page "/"

@layout CustomLayout

@using Microsoft.AspNetCore.Components


@inject NavigationManager NavigationManager


<div class="h-screen flex items-center justify-center bg-gradient-to-r from-sky-500 via-indigo-500 to-purple-500">
    <div class="bg-white flex flex-col items-center justify-center p-12 shadow-md">
        <h3 class="text-xl antialiased font-semibold">Login Form</h3>
        <div class="flex flex-col">
            <label>Username</label>
            <input class="p-1 text-black w-64 border-2 border-gray-300 border-solid" type="text" @bind="username" @onkeypress="HandleKeyPress">
            <label>Password</label>
            <input class="p-1 text-black w-64 border-2 border-gray-300 border-solid mb-4" type="password" @bind="password" @onkeypress="HandleKeyPress">
            <button class="bg-gradient-to-r from-sky-500 via-indigo-500 to-purple-500 p-1 text-white w-64" @onclick="AttemptLogin">Login</button>
        </div>

        @if (loginFailed)
        {
            <p class="text-red-600 w-64">Login failed.</p>
        }
    </div>
</div>

@code {
    private string username;
    private string password;
    private bool loginFailed;

    private async Task AttemptLogin()
    {
        // Introduce a delay to simulate asynchronous login
        await Task.Delay(100);

        // Hardcoded username and password for demonstration purposes
        if (username == "demo" && password == "password")
        {
            // Successful login, navigate to the protected page
            NavigationManager.NavigateTo("/Config");
        }
        else
        {
            loginFailed = true;
        }
    }

    private void HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            // Enter key is pressed, attempt login
            AttemptLogin();
        }
    }
}

