
<li>
    <div class="flex">
        <a href="@LinkItem.Href" class="bg-zinc-800 hover:bg-zinc-700 block rounded-md py-2 pr-2 pl-10 text-sm leading-6 font-semibold text-stone-50">@LinkItem.Titel</a>
        <select class="bg-zinc-800 hover:bg-zinc-700 text-stone-50">
            <option value="flsmart">FLSmart</option>
            <option value="flfresh">FLFresh</option>
            <option value="flfinedust">FLFineDust</option>
            <option value="elsys">Elsys</option>
        </select>
    </div>
</li>