@inherits LayoutComponentBase

<div class="fixed top-0 bottom-0 w-72 overflow-y-auto text-center bg-gray-900 px-2">
	<div class="p-2.5 mt-1 flex items-center">
		<h1 class="font-bold text-gray-200 text-[15px] ml-3">Noise Dashoard</h1>
		<i class="bi bi-x cursor-pointer ml-28 lg:hidden" onclick="openSidebar()"></i>
	</div>
	<div class="bg-gray-600 h-[1px]"></div>
	<div class="p-2.5 mt-3 flex items-center rounded-md px-2 duration-300 cursor-pointer hover:bg-blue-600 text-white">
		<a href="#Config"><span class="text-[15px] ml-4 text-gray-200 font-bold">Config</span></a>
	</div>
	<div class="p-2.5 mt-3 flex items-center rounded-md px-2 duration-300 cursor-pointer hover:bg-blue-600 text-white">
		<a href="/"><span class="text-[15px] ml-4 text-gray-200 font-bold">Logout</span></a>
	</div>
</div>


<main> @Body </main>

<footer>
	<h1>Bottom</h1>
</footer>